* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    transition: all 0.2s ease;
}
/* cho phép click nhưng k hiển thị màu bôi đen*/
p::selection {
    background: transparent;
    color: inherit;
}

body {
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.navbar {
    width: 237px;
    height: 100%;
    position: relative;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: width 0.3s ease,padding 0.3s ease, left 0.5s ease;
    border-right: 1px solid #D2D6DB;
    color: #4D5761;
}

.navbar-search {
    height: 36px;
    position: relative;
}
.navbar-search input {
    border: none;
    outline: none;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    padding:0 10px 0 30px;
    background-color: #F9FAFB;
}

.navbar-search i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(-50%, -50%);
}
.navbar-options {
    height: 316px;
    display: flex;
    flex-direction:column ;
    gap: 4px;
    justify-content: space-evenly;
    font-size: 14px;
}
.navbar-options div {
    height: 36px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    padding: 0 12px;
    cursor: pointer;
    border-radius: 8px;
}
.navbar-options div:hover {
    background-color: #FDEAD7;
}

.navbar-groups {
    height: 108px;
    position: relative;
    overflow-y: auto;
}

.navbar-groups::-webkit-scrollbar {
    display: none;
}

.navbar-tags {
    height: 100px;
    overflow-y: auto;
    position: relative;
}
.navbar-tags::-webkit-scrollbar {
    display: none;
}
.navbar-tags p {
    display: inline-flex;
    font-size: 13px;
    flex-wrap: wrap;
    height: 24px;
    flex-direction: row;
    align-items: center;
    background: #F5F5F5;
    border-radius: 8px;
    padding: 4px 12px;
    margin: 4px 4px;

}
.navbar-logOutBtn {
    height: 36px;
    position: absolute;
    width: 205px;
    bottom: 20px;
    padding-left: 8px;
    border-radius: 8px;
    background: linear-gradient(to left,  white 50%, #FDEAD7 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 0.5s ease;
}

.navbar-logOutBtn:hover {
    background-color: #FDEAD7;
    background-position: left;
}

.navbar-logOutBtn button {
    height: 100%;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
    color: #F04438;
    font-size: 15px;
    padding-left: 8px;
    font-weight: 500;
    background: none;
    cursor: pointer;
}
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: flex 0.3s ease;
}

.content-header {
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
    border-bottom: 1px solid #D2D6DB;
}

.content-header--options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
.content-body {
    flex: 1;
    display: flex;
    flex-direction:column;
    position: relative;
    padding: 32px 120px 0 120px;
    gap: 32px;
    transition: flex 0.3s ease;
    overflow-y: auto ;
    overflow-x:visible ;
    flex-wrap: nowrap;
}

.content-body--1 {
    width: 100%;
    height: auto;
    transition:  width 1s ease, height 1s ease;
}

.content-body--2 {
    width: 100%;
    height: auto;
    transition: width 1s ease, height 1s ease;
}
.content-body--3 {
    width: 100%;
    height: auto;
    transition:flex 0.3s ease , width 1s ease, height 1s ease;
}

.popUp-add {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    /* transform:translate(-50%, -50%) scale(0); */
    top: 177px;
    left: 40%;
    width: 487px;
    height: 240px;
    border-radius: 15px;
    border: 2px solid #F3F4F6;
    /*background: whitesmoke;*/
    transition: all 1s ease;
    padding: 12px 20px;
    background: white;
}

/*.popUp-add div {*/
/*    width: 100%;*/
/*}*/
.popUp-add-options div {
    padding: 8px;
}
.popUp-add-options-calendar__navbar {
    display: none;
    padding: 8px;
    width: 153px;
    border-radius: 15px;
    background:white;
    position: absolute;
    top: 100%;
    left: -5%;
}
.popUp-add-options-calendar__navbar p {
    padding:8px;
    font-weight: 480;
}
.popUp-add-options-calendar__navbar p:hover{
    background: #FEFAF5;
    border-radius: 8px;
    color: #EF6820;
}
.calendar_table tr td {
    text-align: center;
    padding: 8px;
    border-radius: 8px;
}
.calendar_table tr td:hover {
    background-color: #EF6820;
    color: white;
}
select option {
    font-size: 20px;
    border-radius: 8px;
}
/* tắt mũi tên của thẻ input */
input.no-arrow::-webkit-inner-spin-button,
input.no-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*mục add-repeat*/
.repeat-display_navbar-1 p span {
    display: none;
}

.repeat-display_navbar-1 p:hover span {
    display: block;
}
/* mục add-tag */
.tag-display-options p span {
    display: none;
}

.tag-display-options p:hover {
    color: #EF6820;
    background: #FEFAF5;
}

.tag-display-options p:hover span {
    display: block;
    color: #EF6820;
}
/* Mục groups choosing ở phần add */
.groups-choose-navbar p span {
    display: none;
}
.groups-choose-navbar p:hover {
    color: #EF6820;
    background: #FEFAF5;
}

.groups-choose-navbar p:hover span {
    display: block;
    color: #EF6820;
}
/*Xử lý thêm hiệu ứng chuyển trang*/
#content {
    opacity: 1;
    transition: all 0.8s ease;
    width: 100%;
}

#content.fade-out {
    opacity: 0;
    width: 0;
}

.tab-transition {
    transform: translateY(-150px);
    opacity: 0;
}
.scaleUp {
    scale: 0;
    opacity: 0;
}
/* phần  ghi chú */
textarea::-webkit-scrollbar {
    display: none;
}
.note-body::-webkit-scrollbar {
    display: none;
}

.content-note .note-body--modify p:hover {
    background:#EF6820
}
.note-body--modify.addShoweffect {
    transform: scale(0);
    opacity: 0;
}
.note-body--modify {
    z-index: 9999;
 }
/* Phần thùng rác*/
.displayBinModifier {
    opacity: 1;
    transform: translateX(0);
}
.hideBinModifier {
    opacity: 0;
    transform: translateX(30px);
}

.star-move {
    right: 24px;
}

.star-cc {
    right: 0;
}
/* Responsive*/
/*tablet*/
@media (max-width: 1400px) {
    .navbar {
        position: absolute;
        left: -300px;
        font-size: 12px;
        overflow-y:hidden;
        padding-top:18px;
    }
    .content-body {
        padding: 8px 55px;
    }
}
/*reset inline attribute*/
@media (min-width: 1400px) {
    .navbar {
        position: relative;
    }
}
/*mobile*/
@media (max-width: 600px) {
    .content-body {
        padding: 0 28px;
    }
    .navbar {
        font-size: 12px;
    }
}

/*.navbar {*/
/*    width: 237px;*/
/*    height: 100%;*/
/*    position: relative;*/
/*    padding: 8px 16px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 8px;*/
/*    transition: width 0.3s ease,padding 0.3s ease;*/
/*}*/

